.register {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background: rgb(220, 215, 215);
}

.registerLeft,
.registerRight {
	margin: 0 20px 0 20px;
}

.registerTitle {
	font-size: 54px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #1877f2;
}

.registerInfo {
	font-size: 24px;
	font-weight: 400;
	color: #555;
}

.registerForm {
	display: flex;
	flex-direction: column;
	background: #fff;
	padding: 20px;
	border: none;
	border-radius: 5px;
	align-items: center;
	justify-content: center;
	width: 500px;
}

input {
	width: 90%;
	padding: 20px;
	margin: 10px;
	border-radius: 10px;
	font-size: 18px;
}

input:focus {
	outline: none;
}
button {
	width: 100%;
	padding: 20px;
	margin: 15px;
	border-radius: 10px;
	border: none;
	color: #fff;
	background: #1877f2;
	font-size: 20px;
	cursor: pointer;
}

button:hover {
	background: #5787c5;
}

.registerLogInAccount {
	width: 70%;
	color: #fff;
	background: green;
}

.registerLogInAccount:hover {
	background: rgb(95, 211, 95);
}

.registerForget {
	color: #1877f2;
	margin: 20px 0;
}

.registerTitle:hover,
.registerForget:hover {
	color: #5787c5;
	cursor: pointer;
}
