.share {
	width: 100%;
	height: 170px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.shareWrapper {
	padding: 20px;
}

.shareTop {
	display: flex;
	align-items: center;
}

.shareProfileImg {
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
	margin-right: 15px;
}

.shareInput {
	border: none;
	width: 80%;
	outline: none;
	font-size: 16px;
}

.shareHr {
	margin: 20px;
}

.shareBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.shareOptions {
	display: flex;
	margin-left: 20px;
}

.shareOption {
	display: flex;
	align-items: center;
	margin-right: 15px;
	cursor: pointer;
}

.shareIcon {
	font-size: 18px;
}

.shareOptionText {
	font-size: 14px;
	font-weight: 500;
}

.shareButton {
	border: none;
	padding: 7px;
	background: green;
	font-weight: 500;
	cursor: pointer;
	border-radius: 5px;
	color: #fff;
	margin-right: 20px;
}
