.topbarContainer {
	height: 50px;
	width: 100%;
	background: #1877f2;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 999;
}

.topbarLeft {
	flex: 3;
}

.logo {
	font-size: 24px;
	margin-left: 20px;
	font-weight: bold;
	color: #fff;
	cursor: pointer;
}

.topbarCenter {
	flex: 5;
}

.searchbar {
	width: 100%;
	height: 30px;
	background: #fff;
	border-radius: 30px;
	display: flex;
	align-items: center;
}

.searchIcon {
	font-size: 20px !important;
	margin-left: 10px;
}

.searchInput {
	outline: none;
	border: none;
	width: 70%;
}

.topbarRight {
	flex: 4;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: #fff;
}

.topbarLink {
	font-size: 14px;
	margin-right: 10px;
	cursor: pointer;
}

.topbarIcons {
	display: flex;
}

.topbarIconItem {
	margin-right: 10px;
	cursor: pointer;
	position: relative;
}

.topbarIconBadge {
	width: 15px;
	height: 15px;
	background: crimson;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	top: -5px;
	right: -5px;
	display: flex;
	justify-content: center;
	font-size: 12px;
}

.topbarImage {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50%;
	cursor: pointer;
}
